<div ng-controller="mainController as vm">
  <h1>{{title}}</h1>
  <div>Status:<span ng-bind="vm.status"></span></div>
  </br>

	<div class="formLine">
	  <label>Target Url:</label>
	  <input type="text" ng-model="vm.targetUrl"/>
	</div>

	<div class="formLine">
	  <label>Value 1 to send:</label>
	  <input type="text" ng-model="vm.valueFromClient2"/>
	</div>

	<div class="formLine">
	  <label>Value 2 to send:</label>
	  <input type="text" ng-model="vm.valueFromClient1"/>
	</div>

  <button ng-click="vm.onButtonClicked()">Send to the server</button>
  </br>
  </br>

  <textarea ng-model="vm.serverResponse" class="serverResponseTextArea"></textarea>
  </br>
  <button ng-click="vm.clearServerResponse()">Clear</button>
</div>